@model WebApp.ViewModels.PeriodoViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Está seguro de eliminar este registro?</h3>
<div>
    <h4>Periodo Académico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nro_Cuenta_Corriente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nro_Cuenta_Corriente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Codigo_Banco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo_Banco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Vencimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Vencimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prioridad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prioridad)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
