@model IEnumerable<WebApp.ViewModels.PeriodoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Periodos Académicos(Descripción de Cuota de Pago)</h2>

<p>
    @Html.ActionLink("Nuevo registro", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cuota_Pago_Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Inicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Vencimiento)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cuota_Pago_Desc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Anio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_Inicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_Vencimiento)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    }
</table>
