@model WebApp.ViewModels.MantenimientoProcesoViewModel

<div class="modal-header bg-dark-gray" style="border-radius: .2rem .2rem 0px 0px">
    <h5 class="modal-title text-center"><i class="fa fa-calendar-plus-o">&nbsp;</i> @ViewBag.Title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
@using (Ajax.BeginForm("Save", "Procesos", new { area = "" }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "div_msg", OnBegin = "Load", OnComplete = "Stop" }))
{
    @Html.Hidden("Submited", 0)
    @Html.AntiForgeryToken()

    <div class="modal-body">
        <div class="container-fluid">
            @Html.HiddenFor(model => model.I_ProcesoID)
            @Html.HiddenFor(model => model.B_Habilitado)

            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item w-50" role="presentation">
                    <a class="nav-link text-center active" id="pills-obligaciones-tab" data-toggle="pill" href="#pills-obligaciones" role="tab" aria-controls="pills-obligaciones" aria-selected="true">
                        <i class="fa fa-fw fa-list-alt">&nbsp;</i> CON OBLIGACIÓN
                    </a>
                </li>
                <li class="nav-item w-50" role="presentation">
                    <a class="nav-link text-center" id="pills-otros-tab" data-toggle="pill" href="#pills-otros" role="tab" aria-controls="pills-otros" aria-selected="false">
                        <i class="fa fa-fw fa-percent">&nbsp;</i> OTROS PAGOS
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-obligaciones" role="tabpanel" aria-labelledby="pills-obligaciones-tab">
                    <div class="row mt-4">
                        <div class="col-12 mb-3">
                            @Html.LabelFor(model => model.I_CatPagoID, new { @class = "col-md-3 text-uppercase" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.I_CatPagoID, new SelectList(ViewBag.Lista_CategoriaPago, "Value", "TextDisplay"), "[ SELECCIONAR ]", new { @class = "form-control" })
                                <p class="text-danger small">@Html.ValidationMessageFor(model => model.I_CatPagoID)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-otros" role="tabpanel" aria-labelledby="pills-otros-tab">
                    <div class="row mt-4">
                        <div class="col-12 mb-3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}