@model IEnumerable<WebApp.ViewModels.ConceptoPagoViewModel>

@using GridMvc.Html

<p class="h5 my-2 border-bottom">Tasas Registradas</p>
<div class="table-responsive">
    @Html.Grid(Model).Columns(columns =>
        {
               columns.Add(c => c.ConceptoDesc).Titled("Descripción").Filterable(false);
               columns.Add(c => c.DescProceso).Titled("Grupo").Filterable(false);
               columns.Add(c => c.MontoMinimo).Titled("Monto Mínimo").Css("text-right").SetWidth(150).Filterable(false);
               columns.Add(c => c.Monto).Titled("Monto").Css("text-right").SetWidth(150).Filterable(false);
               columns.Add(c => c.Habilitado).SetWidth(100).Css("text-center").Encoded(false).Sanitized(false)
                     .RenderValueAs(model => model.Habilitado ?
                                                          @Html.Raw("<span id=\"td" + @model.ConceptoPagoID + "\"><button type=\"submit\" class=\"btn btn-xs btn-success\" onclick=\"ChangeStateReloadPage(" + @model.ConceptoPagoID + ", " + @model.Habilitado.ToString().ToLower() + ", '" + @Url.Action("ChangeState", "ConceptoPago") + "');\"><i class=\"fa fa-check-circle-o\">&nbsp;</i><span class=\"d-none d-md-inline-block\">Habilitado</span></button></span>")
                                                     : @Html.Raw("<span id=\"td" + @model.ConceptoPagoID + "\"><button type=\"submit\" class=\"btn btn-xs btn-secondary\" onclick=\"ChangeStateReloadPage(" + @model.ConceptoPagoID + ", " + @model.Habilitado.ToString().ToLower() + ", '" + @Url.Action("ChangeState", "ConceptoPago") + "');\"><i class=\"fa fa-minus-circle\">&nbsp;</i><span class=\"d-none d-md-inline-block\">Deshabilitado</span></button></span>"))
                     .Filterable(false).SetWidth(160).Titled("Estado");
               columns.Add().SetWidth(100).Css("text-right").Encoded(false).Sanitized(false).
               RenderValueAs(model => @<a href="@Url.Action("EditTasa", "ConceptoPago", new { procesoId = model.ProcesoId.HasValue ? model.ProcesoId.Value: 0, id = model.ConceptoPagoID })" class="btn-editar modal-link-lg"><i class="fa fa-pencil-square-o" aria-hidden="true">&nbsp;</i><span class="d-none d-md-inline-block">Editar</span></a>);
     }).WithPaging(10).Sortable(true).WithGridItemsCount("Registros encontrados").EmptyText("No se encontraron registros")

</div>


<script>

</script>
