@model IEnumerable<WebApp.ViewModels.ConceptoPagoViewModel>

<link href="~/Assets/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<script src="~/Assets/datatables/js/datatables.min.js"></script>
<script src="~/Assets/datatables/js/dataTables.bootstrap4.min.js"></script>

<div id="content-body">
    <div class="table-responsive">
        <table id="tbl_tasas_@ViewBag.ProcesoId" class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th class="text-center">Monto mínimo</th>
                    <th class="text-center">Monto</th>
                    <th class="text-center">Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ConceptoDesc</td>
                        <td class="text-right pr-3">@item.MontoMinimo</td>
                        <td class="text-right pr-3">@item.Monto</td>
                        <td class="text-center">
                            @if (item.Habilitado)
                            {
                                <span id="td_@item.ConceptoPagoID">
                                    <button type="submit" class="btn btn-xs btn-success" onclick="ChangeStateReloadPage('@item.ConceptoPagoID', '@item.Habilitado.ToString().ToLower()', '@Url.Action("ChangeState", "ConceptoPago")');">
                                        <i class="fa fa-check-circle-o">&nbsp;</i><span class="d-none d-md-inline-block">Habilitado</span>
                                    </button>
                                </span>
                            }
                            else
                            {
                                <span id="td_@item.ConceptoPagoID">
                                    <button type="submit" class="btn btn-xs btn-secondary" onclick="ChangeStateReloadPage('@item.ConceptoPagoID', '@item.Habilitado.ToString().ToLower()', '@Url.Action("ChangeState", "ConceptoPago")');">
                                        <i class="fa fa-minus-circle-o">&nbsp;</i><span class="d-none d-md-inline-block">Deshabilitado</span>
                                    </button>
                                </span>
                            }
                        </td>
                        <td class="text-right">
                            <a href="@Url.Action("EditTasa", "ConceptoPago", new { procesoId = item.ProcesoId, id = item.ConceptoPagoID })" class="btn-editar modal-link-lg">
                                <i class="fa fa-pencil-square-o" aria-hidden="true">&nbsp;</i><span class="d-none d-md-inline-block">Editar</span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#tbl_tasas_' + '@ViewBag.ProcesoId').DataTable({
            "language": {
                "zeroRecords": "No se encontraron resultados para la búsqueda",
                "info": "Mostrando _START_ - _END_ de _TOTAL_ registros encontrados",
                "lengthMenu": "Mostrar _MENU_ resultados por página",
                "infoEmpty": "No se encontraron resultados disponibles",
                "infoFiltered": "(filtrado de _MAX_ registros)",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "previous": "Anterior",
                    "next": "Siguiente"
                }
            },
            "lengthChange": false,
            "searching": true,
            "pageLength": 10,
            "order": [[1, "asc"]]
        });

        let btn_agregar = `<a href="@Url.Action("CreateTasa", "ConceptoPago")" 
                                class="btn btn-sm btn-info modal-link-lg float-left mb-2" style="margin-bottom: -0.75rem;">
                                <i class="fa fa-plus"></i> Agregar Tasa</a>`

        let target = $('.row #tbl_tasas_' + '@ViewBag.ProcesoId' + '_filter').parent().parent().children()[0];
        $(target).html(btn_agregar)

    })
</script>