@model WebApp.ViewModels.MantenimientoProcesoViewModel

<div class="modal-header bg-dark-gray" style="border-radius: .2rem .2rem 0px 0px">
    <h5 class="modal-title text-center"><i class="fa fa-address-book">&nbsp;</i> @ViewBag.Title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
@using (Ajax.BeginForm("Save", "Procesos", new { area = "" }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "div_msg", OnBegin = "Load", OnComplete = "Stop" }))
{
    @Html.Hidden("Submited", 0)
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="container-fluid">
            <fieldset>
                <legend><i class="fa fa-address-book-o">&nbsp;</i>Datos de la cuenta</legend>
                @Html.HiddenFor(model => model.I_ProcesoID)
                @Html.HiddenFor(model => model.B_Habilitado)

                <div class="form-group row">
                    @Html.LabelFor(model => model.I_CatPagoID, new { @class = "col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.I_CatPagoID, new SelectList(ViewBag.Lista_CategoriaPago, "Value", "TextDisplay"), "[ SELECCIONAR ]", new { @class = "form-control" })
                        <p class="text-danger small">@Html.ValidationMessageFor(model => model.I_CatPagoID)</p>
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.I_Anio, new { @class = "col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.I_Anio, new SelectList(ViewBag.Lista_Anios, "Value", "TextDisplay"), "[ SELECCIONAR ]", new { @class = "form-control" })
                        <p class="text-danger small">@Html.ValidationMessageFor(model => model.I_Anio)</p>
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.D_FecVencto, new { @class = "col-md-3" })
                    <div class="col-md-8">
                        <div class='input-group date' id='datepicker_fecvento'>
                            @Html.TextBoxFor(model => model.D_FecVencto, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                            <span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
                            <p class="text-danger small">@Html.ValidationMessageFor(model => model.D_FecVencto)</p>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.I_Prioridad, new { @class = "col-md-3" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.I_Prioridad, new { @class = "form-control", @readonly = "readonly" })
                        <p class="text-danger small">@Html.ValidationMessageFor(model => model.I_Prioridad)</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3">Cuentas Habilitadas</label>
                    <div class="col-md-8">
                        @Html.DropDownList("cmbCuentasHabilitadas", new SelectList(ViewBag.Lista_CtaDepoHabilitadas, "Value", "TextDisplay"), new { @class = "form-control", @multiple = "multiple" })
                    </div>
                    <div class="col-md-1">
                        <button id="btnAddCtaDeposito" type="button" class="btn btn-link"><i class="fa fa-plus-circle"></i></button>
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.Arr_CtaDepositoID, new { @class = "col-md-3" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.Arr_CtaDepositoID, new SelectList(ViewBag.Lista_CtaDepoProceso, "Value", "TextDisplay"), new { @class = "form-control", @multiple = "multiple" })
                        <p class="text-danger small">@Html.ValidationMessageFor(model => model.Arr_CtaDepositoID)</p>
                    </div>
                    <div class="col-md-1">
                        <button id="btnRemoveCtaDeposito" type="button" class="btn btn-link"><i class="fa fa-trash-o"></i></button>
                    </div>
                </div>
            </fieldset>
        </div>

    </div>

    <div class="modal-footer" id="div_msg">
        <div class="col-md-12" style="display:none" id="loading">
            <h6>Actualizando los datos...</h6>

            <div class="progress">
                <div class="indeterminate"></div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" id="btnsubmit"><i class="fa fa-save"></i>&nbsp;Guardar</button>
        <button type="button" class="btn btn-secondary" id="btnCancel" data-dismiss="modal"><i class="fa fa-times-circle-o">&nbsp;</i>Cancelar</button>
    </div>

    <script>
        $('#datepicker_fecvento').datepicker({
            todayBtn: 'linked',
            language: 'es',
            format: 'dd/mm/yyyy',
            autoclose: true,
            weekStart: 0,
            calendarWeeks: true
        }).on('hide', function (e) {
            e.stopPropagation();
        });

        $('form').submit(function () {
            $('#Arr_CtaDepositoID option').prop('selected', true);
        });
    </script>
}
