@model WebApp.ViewModels.ProcesoCategoriaViewModel

@using GridMvc.Html


<div class="container-fluid">
    <div class="col-12">
        <section class="content-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb float-right small d-none d-sm-inline-flex">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="fa fa-home">&nbsp;</i>Inicio</a></li>
                    <li class="breadcrumb-item"><span><i class="fa fa-cogs">&nbsp;</i>Configuracion </span></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Obligaciones", "Procesos")"><span><i class="fa fa-calendar">&nbsp;</i>Obligaciones y conceptos </span></a></li>
                    <li class="breadcrumb-item active text-capitalize"><span><i class="fa fa-tags">&nbsp;</i>@ViewBag.Title.ToLower() </span></li>
                </ol>
            </nav>
            <h1 class="">Obligaciones: <small class="text-capitalize">@ViewBag.Title.ToLower()</small></h1>
        </section>
    </div>
    <div class="col-12">
        <div class="row my-5">
            <div class="col-12">
                <div class="card">
                    <div class="card-body bg-light-gray">
                        <div class="row">
                            <dl class="form-row col-sm-6 col-12 mb-0">
                                <dt class="mr-3">TIPO DE OBLIGACIÓN:</dt>
                                <dd class="">@Model.Categoria.Nombre</dd>
                            </dl>
                            <dl class="form-row col-sm-3 col-12 mb-0">
                                <dt class="mr-3">AÑO:</dt>
                                <dd class="">@Model.AnioProc</dd>
                            </dl>
                            <dl class="form-row col-sm-3 col-12 mb-0">
                                <dt class="mr-3">GRADO ACAD.:</dt>
                                <dd class="">@Model.Categoria.NivelGrado.ToUpper()</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 my-3">
                <a href="@Url.Action("AgregarProcesosObligaciones", "Procesos", new { catId = Model.Categoria.Id, anio = Model.AnioProc, nvl = Model.Categoria.NivelGradoId })" class="float-right btn btn-primary modal-link-xl">
                    <i class="fa fa-tag"></i> Agregar obligación
                </a>
            </div>
            <div class="col-12 my-3">

                <div class="table-responsive" style="min-height:300px">
                    @Html.Grid(Model.Procesos).Columns(columns =>
                        {
                            columns.Add(c => c.T_CatPagoDesc).Titled("Descripción").Filterable(true);
                            columns.Add(c => c.I_Anio).Titled("Año").Filterable(true);
                            columns.Add(c => c.Periodo).Titled("Año").Filterable(true);
                            columns.Add(c => c.D_FecVencto).Format("{0:dd/MM/yyyy}").Titled("Fch. Vencimiento").Filterable(true);
                            columns.Add(c => c.I_Prioridad).Titled("Prioridad").Filterable(true);
                            columns.Add().SetWidth(200).Css("text-right").Encoded(false).Sanitized(false).
                                RenderValueAs(model => @<a href="@Url.Action("Edit", "Procesos", new { id = model.I_ProcesoID })" class="modal-link"><i class="fa fa-pencil-square-o" aria-hidden="true">&nbsp;</i><span class="d-none d-md-inline-block">Editar</span></a>);
                 }).WithPaging(10).Sortable(true).WithGridItemsCount("Registros encontrados").EmptyText("No se encontraron registros")
                </div>

            </div>
        </div>
    </div>
</div>





