
@model WebApp.ViewModels.CuentaDepositoRegistroViewModel

@Scripts.Render("~/bundles/jqueryval")

<div class="modal-header bg-dark-gray" style="border-radius: .2rem .2rem 0px 0px">
    <h5 class="modal-title text-center"><i class="fa fa-credit-card">&nbsp;</i> @ViewBag.Title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
@using (Ajax.BeginForm("Save", "CuentaDeposito", new { area = "" }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "div_msg", OnBegin = "Load", OnSuccess = "Submited", OnComplete = "Stop" }))
{
    @Html.Hidden("submited", 0)
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="container-fluid">
            @Html.HiddenFor(model => model.Id)

            <div class="form-group row">
                @Html.LabelFor(model => model.EntidadFinancieraId, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.EntidadFinancieraId, ViewBag.EntidadFinanciera as SelectList, "[ SELECIONAR ENTIDAD ]", new { @class = "form-control" })
                    <p class="text-danger small">@Html.ValidationMessageFor(model => model.EntidadFinancieraId)</p>
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.NumeroCuenta, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.NumeroCuenta, new { @class = "form-control" })
                    <p class="text-danger small">@Html.ValidationMessageFor(model => model.NumeroCuenta)</p>
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.Observacion, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.Observacion, new { @class = "form-control" })
                    <p class="text-danger small">@Html.ValidationMessageFor(model => model.Observacion)</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer" id="div_msg">
        <div class="col-md-12" style="display:none" id="loading">
            <h6>Actualizando los datos...</h6>

            <div class="progress">
                <div class="indeterminate"></div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" id="btnsubmit"><i class="fa fa-save"></i>&nbsp;Guardar</button>
        <button type="button" class="btn btn-secondary" id="btnCancel" data-dismiss="modal"><i class="fa fa-times-circle-o">&nbsp;</i>Cancelar</button>
    </div>
}

<script>
    $(document).on('ready', function () {
        $('#btnsubmit').removeClass('disabled');
    });

    $("form").submit(function () {
        if (parseInt($("#submited").val()) > 0) {
            return false;
        }
    });
</script>
