@model IEnumerable<WebApp.ViewModels.ConceptoPagoPeriodoViewModel>

@using GridMvc.Html

<div class="container-fluid">
    <div class="col-12">
        <section class="content-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb float-right small d-none d-sm-inline-flex">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="fa fa-home">&nbsp;</i>Inicio</a></li>
                    <li class="breadcrumb-item"><span><i class="fa fa-wrench">&nbsp;</i>Mantenimiento </span></li>
                    <li class="breadcrumb-item active"><span><i class="fa fa-envelope">&nbsp;</i>@ViewBag.Title </span></li>
                </ol>
            </nav>
            <h1 class="">@ViewBag.Title <small></small></h1>
        </section>
    </div>
    <br />

    <div class="col-12">
        <a href="@Url.Action("Grabar", "ConceptoPago")" class="btn btn-primary pull-right">
            <i class="fa fa-envelope"></i> Nuevo
        </a>

        <p class="h3"><small>Conceptos de Pago</small></p>
        <br />

        <br />
        <div class="table-responsive" style="min-height:300px">
            @Html.Grid(Model).Columns(columns =>
            {
                columns.Add(c => c.T_TipoPerDesc).Titled("Cuota Pago").Filterable(true);
                columns.Add(c => c.T_ConceptoDesc).Titled("Descripción").Filterable(true);
                columns.Add(c => c.I_Anio).Titled("Año").Filterable(true);
                columns.Add(c => c.I_Periodo).Titled("Periodo").Filterable(true);
                columns.Add(c => c.M_Monto).Titled("Monto").Filterable(true);
                columns.Add().SetWidth(200).Css("text-right").Encoded(false).Sanitized(false).
                RenderValueAs(model => @<a href="@Url.Action("Grabar", "ConceptoPago", new { id = model.I_ConcPagPerID })" class=""><i class="fa fa-pencil-square-o" aria-hidden="true">&nbsp;</i><span class="d-none d-md-inline-block">Editar</span></a>);
                    }).WithPaging(10).Sortable(true).WithGridItemsCount("Registros encontrados").EmptyText("No se encontraron registros")
        </div>

    </div>
</div>