@model IEnumerable<WebApp.Models.ComprobantePagoModel>
@Scripts.Render("~/bundles/jqueryval")

@{
    var tieneComprobante = (bool)ViewBag.TieneComprobante;
    var pagoBancoID = (int)ViewBag.PagoBancoID;
}

<div class="modal-header bg-dark-gray" style="border-radius: .2rem .2rem 0px 0px">
    <h5 class="modal-title text-center"><i class="fa bi-layers-half">&nbsp;</i> @ViewBag.Title</h5>
    <button type="button" class="close closeModal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>

<div class="modal-body" id="frmGenerarComprobante">
    <dl class="row">
        <dt class="col-sm-3 mb-3">Código Depositante</dt>
        <dd class="col-sm-9">@Model.First().codDepositante</dd>

        <dt class="col-sm-3 mb-3">Nombre Depositante</dt>
        <dd class="col-sm-9">@Model.First().nomDepositante</dd>

        <dt class="col-sm-3 mb-3">Total Pagado</dt>
        <dd class="col-sm-9">@Model.Sum(x => x.montoTotal).ToString(Domain.Helpers.FormatosDecimal.BASIC_DECIMAL)</dd>

        <dt class="col-sm-3 mb-3">Fecha Pago</dt>
        <dd class="col-sm-9">@Model.First().fecPago.ToString(Domain.Helpers.FormatosDateTime.BASIC_DATETIME)</dd>

        <dt class="col-sm-3 mb-3">Código de Operacion</dt>
        <dd class="col-sm-9">@Model.First().codOperacion</dd>

        @if (Model.First().entidadFinanID == Domain.Helpers.Bancos.BCP_ID)
        {
            <dt class="col-sm-3 mb-3">Código Interno</dt>
            <dd class="col-sm-9">@Model.First().codigoInterno</dd>
        }

        <dt class="col-sm-3 mb-3">Banco</dt>
        <dd class="col-sm-9">@Model.First().entidadDesc</dd>

        <dt class="col-sm-3 mb-3">Tipo de Comprobante</dt>
        @if (tieneComprobante)
        {
            <dd class="col-sm-9">@Model.First().tipoComprobanteDesc</dd>
        }
        else
        {
            <dd class="col-sm-9">
                @Html.DropDownList("cmbTipoComprobante", ViewBag.ComboTipoComprobante as SelectList,new { @class = "form-control text-uppercase" })
            </dd>
        }

        <dt class="col-sm-3 mb-3">Serie</dt>
        @if (tieneComprobante)
        {
            <dd class="col-sm-9">@Model.First().numeroSerie</dd>
        }
        else
        {
            <dd class="col-sm-9">
                @Html.DropDownList("cmbSerie", ViewBag.ComboSerieComprobante as SelectList,new { @class = "form-control" })
            </dd>
        }

        @if (tieneComprobante)
        {
            <dt class="col-sm-3 mb-3">Número de Comprobante</dt>
            <dd class="col-sm-9">@Model.First().numeroComprobante</dd>
        }

        <dt class="col-sm-3 mb-3">Es Gravado</dt>
        @if (tieneComprobante)
        {
            <dd class="col-sm-9">@Model.First().gravadoDesc</dd>
        }
        else
        {
            <dd class="col-sm-9">
                <select id="cmbEsGravado" class="form-control">
                    <option value="True">Sí</option>
                    <option value="False">No</option>
                </select>
            </dd>
        }

        @if (tieneComprobante)
        {
            <dt class="col-sm-3 mb-3">Estado Comprobante</dt>
            <dd class="col-sm-9">@Model.First().estadoComprobanteDesc</dd>
        }
    </dl>
</div>

<div class="modal-footer" id="div_msg_comprobante">
    <div class="col-md-12" style="display: none;" id="loading">
        <h6></h6>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
    @if (!tieneComprobante)
    {
        <button type="button" class="btn btn-primary" id="btnGenerar"><i class="fa fa-file"></i> Generar Número</button>
    }
    <button type="button" class="btn btn-secondary closeModal"><i class="fa fa-times-circle-o"></i> Cancelar</button>
</div>

<script type="text/javascript">
    const MESSAGE_TYPE = {
        INFO: 'info',
        SUCCESS: 'success',
        WARNING: 'warning',
        ERROR: 'error'
    };

    $(document).on('click', '#div_msg_comprobante #btnGenerar', function (e) {
        let parametros = {
            pagoBancoId: @pagoBancoID,
            tipoComprobanteID: $('#frmGenerarComprobante #cmbTipoComprobante').val(),
            serieID: $('#frmGenerarComprobante #cmbSerie').val(),
            esGravado: $('#frmGenerarComprobante #cmbEsGravado').val()
        };

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GenerarNumeroComprobante", "ComprobantePago")',
            data: parametros,
            dataType: 'json',
            beforeSend: function () {
                $('#div_msg_comprobante #loading').css('display', 'block');
                $('#div_msg_comprobante #loading h6').html('Generando número de comprobante...');
            },
            success: function (data) {
                if (data !== null) {
                    let icon = MESSAGE_TYPE.ERROR;

                    if (data.Value) {
                        icon = MESSAGE_TYPE.SUCCESS;
                    }

                    Swal.fire({
                        title: '',
                        text: data.Message,
                        icon: icon,
                        timer: 6000
                    });
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                var jsonException = JSON.parse(xhr.responseText);
            },
            complete: function () {
                $('#div_msg_comprobante #loading').css('display', 'none');
                $('#div_msg_comprobante #loading h6').html('');
            }
        });
    });
</script>