@model IEnumerable<WebApp.Models.ComprobantePagoModel>
@Scripts.Render("~/bundles/jqueryval")

@{
    var tieneComprobante = (bool)ViewBag.TieneComprobante;
    var pagoBancoID = (int)ViewBag.PagoBancoID;
}

<div class="modal-header bg-dark-gray" style="border-radius: .2rem .2rem 0px 0px">
    <h5 class="modal-title text-center"><i class="fa bi-layers-half">&nbsp;</i> @ViewBag.Title</h5>
    <button type="button" class="close closeModal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>

<div class="modal-body" id="cabeceraObligacion">
    <dl class="row">
        <dt class="col-sm-3">Código Depositante</dt>
        <dd class="col-sm-9">@ViewBag.CodDepositante</dd>

        <dt class="col-sm-3">Nombre Depositante</dt>
        <dd class="col-sm-9">@ViewBag.NombreDepositante</dd>

        <dt class="col-sm-3">Total Pagado</dt>
        <dd class="col-sm-9">@ViewBag.TotalPagado</dd>

        <dt class="col-sm-3">Fecha Pago</dt>
        <dd class="col-sm-9">@ViewBag.FechaPago</dd>

        <dt class="col-sm-3">Código de Operacion</dt>
        <dd class="col-sm-9">@ViewBag.CodOperacion</dd>

        <dt class="col-sm-3">Banco</dt>
        <dd class="col-sm-9">@ViewBag.EntidadFinanciera</dd>
    </dl>
</div>

<div class="modal-body">
    <table class="table table-bordered table-hover table-sm" id="tblPagos">
        <thead>
            <tr>
                <th>Banco</th>
                <th>Cod.Operacion</th>
                <th>Fecha Pago</th>
                <th>Monto</th>
                <th>Mora</th>
                <th>Comentarios</th>
            </tr>
        </thead>
    </table>
</div>

<div class="modal-footer" id="div_msg_comprobante">
    <div class="col-md-12" style="display: none;" id="loading">
        <h6></h6>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
    @if (!tieneComprobante)
    {
        <button type="button" class="btn btn-primary" id="btnGenerar"><i class="fa fa-file"></i> Generar Número</button>
    }
    <button type="button" class="btn btn-secondary closeModal"><i class="fa fa-times-circle-o"></i> Cancelar</button>
</div>

<script type="text/javascript">
    $(document).on('click', '#div_msg_comprobante #btnGenerar', function (e) {
        let pagoBancoID = @pagoBancoID;

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GenerarNumeroComprobante", "ComprobantePago")/' + pagoBancoID,
            dataType: 'json',
            beforeSend: function () {
                $('#div_msg_comprobante #loading').css('display', 'block');
                $('#div_msg_comprobante #loading h6').html('Generando número de comprobante...');
            },
            success: function (data) {
                if (data !== null) {
                    let icon = MESSAGE_TYPE.ERROR;

                    if (data.Value) {
                        icon = MESSAGE_TYPE.SUCCESS;
                    }

                    Swal.fire({
                        title: '',
                        text: data.Message,
                        icon: icon,
                        timer: 6000
                    });
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                var jsonException = JSON.parse(xhr.responseText);
            },
            complete: function () {
                $('#div_msg_comprobante #loading').css('display', 'none');
                $('#div_msg_comprobante #loading h6').html('');
            }
        });
    });
</script>