
@model WebApp.ViewModels.EntidadRecaudadoraRegistroViewModel

@Scripts.Render("~/bundles/jqueryval")

<div class="modal-header bg-dark-gray" style="border-radius: .2rem .2rem 0px 0px">
    <h5 class="modal-title text-center"><i class="fa bi-cash-coin">&nbsp;</i> @ViewBag.Title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
@using (Ajax.BeginForm("Save", "EntidadRecaudadora", new { area = "" }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "div_msg", OnBegin = "Load", OnSuccess = "Submited", OnComplete = "Stop" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="container-fluid mt-3">
            @Html.Hidden("submited", 0)
            @Html.HiddenFor(model => model.Id)

            <div class="form-group row">
                @Html.LabelFor(model => model.NombreEntidad, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(model => model.NombreEntidad, new { @class = "form-control" })
                    <p class="text-danger small">@Html.ValidationMessageFor(model => model.NombreEntidad)</p>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-4 control-label" for="Habilitado">@Html.DisplayNameFor(model => model.Habilitado)</label>
                <div class="col-md-8">
                    @Html.CheckBoxFor(model => model.Habilitado)
                </div>
            </div>

            <fieldset>
                <legend class="fa-1x">Archivos de intercambio</legend>
                <div class="form-group form-row">
                    <label class="col-md-7 control-label form-check-label" for="HabilitarArchivos">@Html.DisplayNameFor(model => model.HabilitarArchivos)</label>
                    @*@Html.CheckBoxFor(model => model.HabilitarArchivos)*@
                    @if (Model.Id.HasValue)
                    {
                        <div class="col-md-5">
                            @Html.CheckBoxFor(model => model.HabilitarArchivos, new { disabled = "disabled" })
                        </div>
                    }
                    else
                    {
                        <div class="col-md-5">
                            @Html.CheckBoxFor(model => model.HabilitarArchivos)
                        </div>
                    }
                </div>
            </fieldset>
        </div>
    </div>

    <div class="modal-footer" id="div_msg">
        <div class="col-md-12" style="display:none" id="loading">
            <h6>Actualizando los datos...</h6>

            <div class="progress">
                <div class="indeterminate"></div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" id="btnsubmit"><i class="fa fa-save"></i>&nbsp;Guardar</button>
        <button type="button" class="btn btn-secondary" id="btnCancel" data-dismiss="modal"><i class="fa fa-times-circle-o">&nbsp;</i>Cancelar</button>
    </div>
}

<script>
    $(document).on('ready', function () {
        $('#btnsubmit').removeClass('disabled');
    });

    $("form").submit(function () {
        if (parseInt($("#submited").val()) > 0) {
            return false;
        }
    });
</script>