

@Scripts.Render("~/bundles/jqueryval")

<div class="modal-header bg-dark-gray" style="border-radius: .2rem .2rem 0px 0px">
    <h5 class="modal-title text-center"><i class="fa bi-box-arrow-right">&nbsp;</i> @ViewBag.Title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body">
    <div class="container-fluid mt-2">
        <fieldset class="mb-3">
            <legend class="h5 border-bottom">Búsqueda de pagos</legend>
            <form class="form-group form-row">
                <div class="col-md-5 my-2">
                    @Html.Label("EntidadRecaudadora", new { @class = "control-label", @for= "EntidadRecaudadora" })
                    @Html.DropDownList("EntidadRecaudadora", ViewBag.EntidadRecaudadora as SelectList, "[ SELECIONAR ]", new { @class = "form-control form-control-sm" })
                </div>
                <div class="col-md-4 my-2">
                    @Html.Label("ReferenciaPago", new { @class = "control-label", @for = "ReferenciaPago" })
                    @Html.TextBox("ReferenciaPago", null, new { @type = "search", @class = "form-control form-control-sm text-uppercase" })
                </div>

                <div class="col-md-3 my-2">
                    <label class="control-label d-none d-md-block">&nbsp;</label>
                    <button class="btn btn-sm btn-info btn-block pull-right mb-2" type="button" id="btn-pago-search"><i class="fa fa-search">&nbsp;</i>Buscar</button>
                </div>
            </form>
        </fieldset>

        <div id="busqueda_pago">
            
        </div>
        <div id="loader" class="container-fluid" style="display:none;">
            <div class="d-flex justify-content-center">
                <div class="spinner-border my-4 text-info" role="status" style="height: 3rem; width:3rem;">
                    <span class="sr-only">Buscando pagos...</span>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <span id="load-message" class="h5">Buscando pagos...</span>
            </div>
        </div>

    </div>
</div>

<script>

    $('#btn-pago-search').on('click', function (event) {
        event.preventDefault();
        const entidadId = $('#EntidadRecaudadora').val();
        const codreferencia = $('#ReferenciaPago').val();

        toastr.options.positionClass = 'toast-top-center';

        if (entidadId == '') {
            Swal.fire({
                text: 'seleccione la entidad recaudadora',
                icon: 'warning',
                confirmButtonText: 'Aceptar'
            });

            $('#EntidadRecaudadora').focus();
            return false;
        }
        if (codreferencia == '') {
            Swal.fire({
                text: 'Ingrese el código de referencia o liquidación del pago',
                icon: 'warning',
                confirmButtonText: 'Aceptar'
            });

            $('#ReferenciaPago').select();
            return false;
        }

        $.ajax({
            url: '@Url.Action("BuscarPagoDevolucion", "Devoluciones")' + '?entidadId=' + entidadId + '&codreferencia=' + codreferencia,
            type: 'GET',
            cache: false,
            beforeSend: function () {
                $('#busqueda_pago').hide();
                $('#loader').show();
            },
            success: function (data) {
                $('#busqueda_pago').html(data);
                $('#busqueda_pago').show();
                $('#btnsubmit').show();
            },
            error: function (jqXHR, textStatus, errorThrown) {
                toastr.options.positionClass = 'toast-bottom-right';
                toastr.error(jqXHR.responseText);
            },
            complete: function () {
                $('#loader').hide();
            }
        });
    })
</script>