@model WebApp.ViewModels.UserViewModel

@Scripts.Render("~/bundles/jqueryval")

<div class="modal-header bg-dark-primary" style="border-radius: 5px 5px 0px 0px">
    <h4 class="modal-title"><i class="fa fa-refresh">&nbsp;</i>Reestablecer Contraseña a: &nbsp;&nbsp;&nbsp;&nbsp; @Model.UserName</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>

@using (Ajax.BeginForm("GrabarAdminResetPassword", "Account", new { area = "" }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "div_msg", OnBegin = "Load", OnComplete = "Stop" }, new { @class = "form-horizontal", @id = "div_msg" }))
{
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <fieldset class="col-md-12">
                    <legend style="border-bottom:0.5px solid #c5c5c5">Opciones</legend>
                    @Html.HiddenFor(model => model.UserId)
                    @Html.HiddenFor(model => model.UserName)
                    @Html.HiddenFor(model => model.Email)
                    <div class="form-group col-md-12">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="form-check col-md-6">
                                    <input type="radio" name="rbtnTipReset" class="form-check-input" value="1" id="rbtn_auto" checked />
                                    <label class="form-check-label" for="rbtn_auto">
                                        Autogenerar Contraseña
                                    </label>
                                </div>
                                <div class="form-check col-md-6">
                                    <input type="radio" name="rbtnTipReset" class="form-check-input" value="2" id="rbtn_manual" />
                                    <label class="form-check-label" for="rbtn_manual">
                                        Establecer manualmente
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">&nbsp;</div>
                        <div class="form-group row" id="password_temporal" style="display:none">
                            <label class="control-label col-md-4 text-right">Contraseña temporal</label>
                            <div class="col-md-6">
                                <input class="form-control" type="text" name="NewPass" placeholder="Escriba la nueva contraseña aquí"/>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <div class="col-md-12">&nbsp;</div>

                <fieldset class="col-md-12">
                    <legend style="border-bottom:0.5px solid #c5c5c5">Datos del propietario de la cuenta</legend>

                    <div class="col-md-12 form-group">
                        <div class="col-md-12">
                            <b>Nombre completo: &nbsp;</b>@Html.DisplayFor(model => model.Person)
                            <br />
                            @*<b>Asignado a: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>@(Model.N_IdPredio == 0 ? @Html.Display("sin asignar") : @Html.DisplayFor(model => model.T_NomPredio))*@
                            <br />&nbsp;
                            <div class="form-check col-md-12">
                                <input type="checkbox" id="chkSendMail" class="form-check-input" checked />
                                <label class="form-check-label" for="chkSendMail">
                                    Enviar contraseña a la siguiente dirección: @Model.Email
                                </label>
                                @Html.Hidden("chkSendMail")
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">&nbsp;</div>
                </fieldset>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="col-md-12" style="display:none" id="loading">
            <h6>Actualizando la contraseña y enviando mensaje...</h6>
            <div class="progress">
                <div class="indeterminate"></div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" id="btnsubmit"><i class="fa fa-refresh"></i>&nbsp;Reestablecer</button>
        <button type="button" class="btn btn-secondary" id="btnCancel" data-dismiss="modal"><i class="fa fa-times-circle-o">&nbsp;</i>Cancelar</button>
    </div>
}

<script>
    if ($('#rbtn_auto').is(':checked')) {
        $('#password_temporal').hide();
    }
    else {
        $('#password_temporal').show();
    }

    $('input[name="rbtnTipReset"]').on('change', function () {
        if ($('#rbtn_auto').is(':checked')) {
            $('#password_temporal').hide();
            $('input[name="NewPass"]').prop('required', false);
        }
        else {
            $('#password_temporal').show();
            $('input[name="NewPass"]').prop('required', true);
        }
    })

    $('input[name="rbtnTipReset"]').on('click', function () {
        if ($('#rbtn_auto').is(':checked')) {
            $('#password_temporal').hide();
        }
        else {
            $('#password_temporal').show();
        }
    })


    if ($('#chkSendMail').is(':checked')) {
        $('input[name="chkSendMail"]').val(true);
    }
    else {
        $('input[name="chkSendMail"]').val(false);
    }

    $('#chkSendMail').on('change', function () {
        if ($('#chkSendMail').is(':checked')) {
            $('input[name="chkSendMail"]').val(true);
        }
        else {
            $('input[name="chkSendMail"]').val(false);
        }
    })

    $('#chkSendMail').on('click', function () {
        if ($('#chkSendMail').is(':checked')) {
            $('input[name="chkSendMail"]').val(true);
        }
        else {
            $('input[name="chkSendMail"]').val(false);
        }
    })
</script>