@model BLL_LIB.ViewModels.RecuperarPasswordViewModel


@Scripts.Render("~/bundles/jqueryval")

<div class="modal-header bg-dark-primary" style="border-radius: 5px 5px 0px 0px">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="row modal-title text-center">¿Olvidó su contraseña?</h4>
</div>

@using (Ajax.BeginForm("RecuperarPassword", "Account", new { area = "" }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "div_msg", OnBegin = "Load", OnComplete = "Stop" }, new { @class="form-horizontal"}))
{
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                @Html.AntiForgeryToken()
                <p class="col-md-12 alert alert-info text-justify">Ingrese el nombre de la cuenta de usuario que desea recuperar y presione el botón Enviar solicitud. Se enviará un mensaje a su correo electrónico con un link para la recuperación de su contraseña.</p>
                <br />&nbsp;
                <div class="form-group">
                    @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-4 col-sm-12" })
                    <div class="col-md-7  col-sm-12">
                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", style="padding-left: 12px;"})
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.UserName)</span>
                    </div>
                </div>
                <br />&nbsp;<br />
            </div>
        </div>
    </div>

    <div class="modal-footer" id="div_msg">
        <div class="col-md-12" style="display:none" id="loading">
            <h6>Generando enlace y enviando mensaje a correo del usuario...</h6>
            <div class="progress">
                <div class="indeterminate"></div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" id="btnsubmit"><i class="fa fa-paper-plane">&nbsp;</i>Enviar solicitud</button>
        <button type="button" class="btn btn-default" id="btnCancel" data-dismiss="modal"><i class="fa fa-times-circle-o">&nbsp;</i>Cancelar</button>
    </div>
}

<script>
    $(document).on('ready', function () {
        $('#btnsubmit').removeClass('disabled');
        $('#btnCancel').removeClass('disabled');
    });

    function Load() {
        $('#loading').show();
        $('#btnsubmit').addClass('disabled');
        $('#btnCancel').addClass('disabled');
        $('#modal-container').attr('data-backdrop', 'static')
    }

    function Stop() {
        $('#loading').hide();
        $('#btnsubmit').hide();
        $('#btnCancel').removeClass('disabled');
        $('#modal-container').removeAttr('data-backdrop')
    }

</script>