@model WebApp.ViewModels.ChangePasswordViewModel

@{
    var url = Url.Action("Index", "Home", new { area = "" });
}

@Scripts.Render("~/bundles/jqueryval")

<div class="container-fluid">
    <div class="col-12">
        <section class="content-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb float-right small d-none d-sm-inline-flex">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="fa fa-home">&nbsp;</i>Inicio</a></li>
                    <li class="breadcrumb-item"><span><i class="fa fa-wrench">&nbsp;</i>Mantenimiento </span></li>
                </ol>
            </nav>
            <h1 class="page-header">Usuario: &nbsp;@ViewBag.Usuario &nbsp;<small>(RESTABLECER CONTRASEÑA)</small></h1>
        </section>
    </div>

    <div class="container-fluid mt-5">
        <div class="col-md-9 col-lg-7 card">
            <div class="row">
                <div class="col-md-12 mt-4">
                    <p class="alert alert-info">
                        <i class="fa fa-info-circle fa-1x">&nbsp;&nbsp;&nbsp;</i>Ingrese una nueva contraseña para su cuenta de usuario
                    </p>
                    <br />
                    @using (Ajax.BeginForm("TokenResetPassword", "Account", new { area = "" }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "div_msg", OnBegin = "LoadModal", OnComplete = "Stop" }, new { id = "form-pwd" }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="ReturnToken" value="@ViewBag.Token" aria-readonly="true" />
                        <br />
                        <div class="col-12">
                            <div class="form-group row">
                                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-5 control-label" })
                                <div class="col-md-7">
                                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control text-lg", @placeholder = "Contraseña" })
                                    <span class="text-danger">@Html.ValidationMessageFor(m => m.NewPassword)</span>
                                </div>
                            </div>
                            <br />
                            <div class="form-group row">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-5 control-label" })
                                <div class="col-md-7">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control text-lg", @placeholder = "Repetir la contraseña" })
                                    <span class="text-danger">@Html.ValidationMessageFor(m => m.ConfirmPassword)</span>
                                </div>
                            </div>
                            <br />
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-refresh">&nbsp;</i>Restablecer contraseña</button>
                        </div>
                    }
                    <br />
                </div>
            </div>
            <br />
        </div>
    </div>
</div>

<div class="modal fade" id="waiting-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark-primary">
                <h5 class="modal-title" id="myModalLabel">Espere un momento...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div id="div_msg">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" style="display:none" id="loading">
                            <h5>Validando token y actualizando la contraseña...</h5>
                            <div class="progress">
                                <div class="indeterminate"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var link = '@url.ToString()';

    function LoadModal() {
        $('#waiting-modal').modal('show')
        $('#loading').show();
        $('#btnsubmit').addClass('disabled');
        $('#btnCancel').addClass('disabled');
        $('#modal-container').attr('data-backdrop', 'static');
    }

    $(".modal").on('hide.bs.modal', function () {
        location.replace(link);
    });

</script>