
@model WebApp.ViewModels.CategoriaPagoRegistroViewModel

@Scripts.Render("~/bundles/jqueryval")

<div class="modal-header bg-dark-gray" style="border-radius: .2rem .2rem 0px 0px">
    <h5 class="modal-title text-center"><i class="fa bi-grid-1x2-fill">&nbsp;</i> @ViewBag.Title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
@using (Ajax.BeginForm("Save", "CategoriaPago", new { area = "" }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "div_msg", OnBegin = "Load", OnSuccess = "Submited", OnComplete = "Stop" }))
{
    @Html.Hidden("submited", 0)
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="container-fluid">
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, new { @class = "control-label" })

                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
                <p class="text-danger small">@Html.ValidationMessageFor(model => model.Nombre)</p>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NivelId, new { @class = "control-label" })
                @Html.DropDownListFor(model => model.NivelId, ViewBag.Niveles as SelectList, "[ SELECCIONAR NIVEL ]", new { @class = "form-control text-uppercase" })
                <p class="text-danger small">@Html.ValidationMessageFor(model => model.NivelId)</p>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.TipoAlumnoId, new { @class = "control-label" })
                @Html.DropDownListFor(model => model.TipoAlumnoId, ViewBag.TiposAlumno as SelectList, "[ SELCCIONAR TIPO ALUMNO ]", new { @class = "form-control text-uppercase" })
                <p class="text-danger small">@Html.ValidationMessageFor(model => model.TipoAlumnoId)</p>
            </div>
            <div class="row form-group">
                @Html.LabelFor(model => model.EsObligacion, new { @class = "control-label col-12" })
                <div class="col-4 offset-2">
                    <div class="form-check">
                        @Html.RadioButtonFor(model => model.EsObligacion, true, new { @Class = "form-check-input", @id = "rbtn_oblig" })
                        <label class="form-check-label" for="rbtn_oblig">
                            Obligación
                        </label>
                    </div>
                </div>
                <div class="col-4 offset-2">
                    <div class="form-check">
                        @Html.RadioButtonFor(model => model.EsObligacion, false, new { @Class = "form-check-input", @id = "rbtn_tasa" })
                        <label class="form-check-label" for="rbtn_tasa">
                            Tasa
                        </label>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                @Html.LabelFor(model => model.Prioridad, new { @class = "control-label col-12" })
                <div class="col-4 offset-2">
                    <div class="form-check">
                        @Html.RadioButtonFor(model => model.Prioridad, 1, new { @Class = "form-check-input", @id = "rbtn_mat" })
                        <label class="form-check-label" for="rbtn_mat">
                            Matrícula
                        </label>
                    </div>
                </div>
                <div class="col-4 offset-2">
                    <div class="form-check">
                        @Html.RadioButtonFor(model => model.Prioridad, 2, new { @Class = "form-check-input", @id = "rbtn_otr" })
                        <label class="form-check-label" for="rbtn_otr">
                            Otros pagos
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CuentasDeposito, new { @class = "control-label" })
                @Html.ListBoxFor(model => model.CuentasDeposito, ViewBag.CtasDeposito as SelectList, new { @class = "select-multiple form-control text-uppercase", multiple = "true" })
                <p class="text-danger small">@Html.ValidationMessageFor(model => model.CuentasDeposito)</p>
            </div>

            <div class="form-group form-row mt-4" id="CodBco">
                @Html.LabelFor(model => model.CodBcoComercio, new { @class = "control-label col-form-label col-sm-6 col-12" })
                <div class="col-sm-6 col-12">
                    @Html.TextBoxFor(model => model.CodBcoComercio, new { @class = "form-control text-right" })
                    <p class="text-danger small">@Html.ValidationMessageFor(model => model.CodBcoComercio)</p>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer" id="div_msg">
        <div class="col-md-12" style="display:none" id="loading">
            <h6>Actualizando los datos...</h6>

            <div class="progress">
                <div class="indeterminate"></div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" id="btnsubmit"><i class="fa fa-save"></i>&nbsp;Guardar</button>
        <button type="button" class="btn btn-secondary" id="btnCancel" data-dismiss="modal"><i class="fa fa-times-circle-o">&nbsp;</i>Cancelar</button>
    </div>
}

<script>
    $(document).ready(function () {
        $('#btnsubmit').removeClass('disabled');

        $("form").submit(function () {
            if (parseInt($("#submited").val()) > 0) {
                return false;
            }
        });

        $('.select-multiple').select2();

        if ('@Model.MostrarCodBanco' === 'True') {
            $('#CodBco').show();
        }
        else {
            $('#CodBco').hide();
            $('#CodBco').val(null);
        }

        $('#CuentasDeposito').on('change', function () {
           let nomBanco = '@Model.BcoComercioNombre';
            debugger;
            if ($('#CuentasDeposito :selected').parent().attr('label') === nomBanco) {
                $('#CodBco').show();
            }
            else {
                $('#CodBco').hide();
                $('#CodBco').val(null);
            }
        })
    });

</script>
