@model WebApp.ViewModels.ReportePorFacultadYConceptoViewModel

<p class="h2 text-center">@Model.Titulo.ToUpper()</p>

<p class="h4 text-center"><small>@Model.SubTitulo</small></p>

<div class="row">
    <div class="col-lg-6">
        @if (!String.IsNullOrEmpty(Model.nombreEntidadFinanc))
        {
            <p>Entidad Financiera: <b>@Model.nombreEntidadFinanc</b></p>

        }
    </div>
    <div class="col-lg-6">
        <p class="h5 text-right"><small>Fecha consulta: <b>@Model.FechaActual</b></small></p>
        <p class="h5 text-right"><small>Hora consulta: <b>@Model.HoraActual</b></small></p>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-hover table-sm" id="tbl_pagos">
        <thead>
            <tr class="thead-light">
                <th class="text-center">Facultad</th>
                <th class="text-center">Concepto</th>
                <th class="text-center">Clasificador</th>
                <th class="text-center">Monto (S/)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listaPagos)
            {
                <tr>
                    <td>@item.T_FacDesc</td>
                    <td>@item.T_ConceptoPagoDesc</td>
                    <td class="text-center">@item.C_CodClasificador</td>
                    <td class="text-right">@item.T_MontoTotal</td>
                </tr>
            }
            <tr>
                <th></th>
                <th></th>
                <th class="text-right">Total (S/)</th>
                <th class="text-right">@Model.T_MontoTotal</th>
            </tr>
        </tbody>
    </table>
</div>
