@model WebApp.ViewModels.ReportePagosGeneralesPorFecha

<style>
    .input-daterange {
        display: flex !important;
    }

    @@media (max-width: 768px) {
        .input-daterange {
            display: block !important;
        }
    }
</style>

<div class="container-fluid">
    <div class="col-12">
        <section class="content-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb float-right small d-none d-sm-inline-flex">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="fa fa-home">&nbsp;</i>Inicio</a></li>
                    <li class="breadcrumb-item"><span><i class="fa fa-search">&nbsp;</i>Consultas </span></li>
                    <li class="breadcrumb-item active"><span><i class="fa bi-person-lines-fill">&nbsp;</i>@ViewBag.Title </span></li>
                </ol>
            </nav>
            <h1 class="">@ViewBag.Title <small></small></h1>
        </section>
    </div>
    <br />
    <div class="col-12 mt-4">
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item w-50" role="presentation">
                        <a class="nav-link text-center" id="individial-tab" data-toggle="pill" href="#individial" role="tab" aria-controls="individial" aria-selected="false">
                            <i class="fa fa-fw fa-user">&nbsp;</i> Reporte
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="individial" role="tabpanel" aria-labelledby="individial-tab">
                        <div class="card">
                            <div class="card-body bg-light-gray">
                                <form id="frmConsultaEstudianteMatricula" method="get" action="@Url.Action("Consulta", "Estudiantes")">
                                    <div class="form-row">
                                        <div class="form-group col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div id="datepicker">
                                                <div class="input-daterange">
                                                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-12" style="padding-left: 0px;">
                                                        <label for="T_FechaDesde">Fecha de pago desde</label>
                                                        <div class="input-group">
                                                            @Html.TextBox("T_FechaDesde", null, new { @class = "form-control form-control-sm", @placeholder = "Fecha inicio" })
                                                            <div class="input-group-append">
                                                                <span class="input-group-text"><i class="fa fa-calendar-o"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-12" style="padding-left: 0px;">
                                                        <label for="T_FechaHasta">Fecha de pago hasta</label>
                                                        <div class="input-group">
                                                            @Html.TextBox("T_FechaHasta", null, new { @class = "form-control form-control-sm", @placeholder = "Fecha final" })
                                                            <div class="input-group-append">
                                                                <span class="input-group-text"><i class="fa fa-calendar-o"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-2 col-md-3 col-12">
                                            <button type="button" class="btn btn-block btn-outline-primary mt-4"><i class="fa fa-fw fa-search-plus"></i> Generar reporte</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>

                        <div class="table-responsive mt-4">
                            <p class="h3">@Model.Titulo del @Model.FechaInicio al @Model.FechaFin</p>
                            <br />
                            
                            <p class="h5">Fecha consulta: @Model.FechaActual</p>
                            <br />
                            <p class="h5">Hora consulta: @Model.HoraActual</p>
                            <br />

                            <table class="table table-sm table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Código</th>
                                        <th>Concepto de pago</th>
                                        <th>Monto</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.listaPagos)
                                    {
                                        <tr>
                                            <td>...</td>
                                            <td>@item.T_ConceptoPagoDesc</td>
                                            <td>@item.I_MontoTotal</td>
                                        </tr>
                                    }
                                    <tr>
                                        <th>Total</th>
                                        <th>@Model.MontoTotal</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>    
    </script>
}
