@model WebApp.ViewModels.ReporteResumenAnualPagoObligaciones_X_Dia

<div class="container-fluid">
    <div class="col-12">
        <section class="content-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb float-right small d-none d-sm-inline-flex">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="fa fa-home">&nbsp;</i>Inicio</a></li>
                    <li class="breadcrumb-item"><span><i class="fa fa-search">&nbsp;</i>Consulta </span></li>
                    <li class="breadcrumb-item active"><span><i class="fa bi-stack">&nbsp;</i>@ViewBag.Title </span></li>
                </ol>
            </nav>
            <h1 class="">@ViewBag.Title <small></small></h1>
        </section>
    </div>

    <div class="col-12">
        <div class="row mt-5 d-flex justify-content-end">
            <div class="col-xl-3 col-lg-4 col-md-12">
                <div class="form-group row">
                    <label for="anio" class="col-6 col-form-label text-right">Año</label>
                    <div class="col-6">
                        @Html.DropDownList("anio", ViewBag.Anios as SelectList, new { Class = "form-control text-center" })
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-12">
                <div class="form-group row">
                    <label for="entidadFinanID" class="col-6 col-form-label text-right">Banco</label>
                    <div class="col-6">
                        @Html.DropDownList("entidadFinanID", ViewBag.EntidadesFinancieras as SelectList, "TODOS", new { Class = "form-control text-uppercase" })
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-12">
                <div class="form-group row">
                    <label for="ctaDepositoID" class="col-6 col-form-label text-right">Cta.Deposito</label>
                    <div class="col-6">
                        @Html.DropDownList("ctaDepositoID", ViewBag.CtaDeposito as SelectList, "TODOS", new { Class = "form-control text-uppercase" })
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-12">
                <div class="form-group row">
                    <label for="condicion" class="col-6 col-form-label text-right">Condición</label>
                    <div class="col-6">
                        @Html.DropDownList("condicion", ViewBag.CondicionesPago as SelectList, "TODOS", new { Class = "form-control text-uppercase" })
                    </div>
                </div>
            </div>
        </div>

        <p class="h3 text-center mt-5 mb-5 text-uppercase">
            RESUMEN DE INGRESOS POR DÍA<br />AL AÑO @Model.anio
        </p>

        <div class="row">
            <div class="col-lg-6">
                @if (!String.IsNullOrEmpty(Model.nombreEntidadFinanc))
                {
                    <p>Entidad Financiera: <b>@Model.nombreEntidadFinanc</b></p>

                }
            </div>
            <div class="col-lg-6">
                <p class="h5 text-right"><small>Fecha consulta: <b>@Model.FechaActual</b></small></p>
                <p class="h5 text-right"><small>Hora consulta: <b>@Model.HoraActual</b></small></p>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-hover table-sm">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 5%">Día</th>
                        <th class="text-center">Enero</th>
                        <th class="text-center">Febrero</th>
                        <th class="text-center">Marzo</th>
                        <th class="text-center">Abril</th>
                        <th class="text-center">Mayo</th>
                        <th class="text-center">Junio</th>
                        <th class="text-center">Julio</th>
                        <th class="text-center">Agosto</th>
                        <th class="text-center">Setiembre</th>
                        <th class="text-center">Octubre</th>
                        <th class="text-center">Noviembre</th>
                        <th class="text-center">Diciembre</th>
                        <th class="text-center">Total (S/.)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.resumen_x_dia)
                    {
                        <tr>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.I_Dia)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.T_Enero)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.T_Febrero)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.T_Marzo)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.T_Abril)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.T_Mayo)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.T_Junio)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.T_Julio)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.T_Agosto)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.T_Setiembre)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.T_Octubre)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.T_Noviembre)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.T_Diciembre)
                            </td>
                            <th class="text-right">
                                @Model.T_TotalDia(item.I_Dia)
                            </th>
                        </tr>
                    }
                    <tr>
                        <th>Total (S/.)</th>
                        <th class="text-right">@Model.T_TotalEnero</th>
                        <th class="text-right">@Model.T_TotalFebrero</th>
                        <th class="text-right">@Model.T_TotalMarzo</th>
                        <th class="text-right">@Model.T_TotalAbril</th>
                        <th class="text-right">@Model.T_TotalMayo</th>
                        <th class="text-right">@Model.T_TotalJunio</th>
                        <th class="text-right">@Model.T_TotalJulio</th>
                        <th class="text-right">@Model.T_TotalAgosto</th>
                        <th class="text-right">@Model.T_TotalSetiembre</th>
                        <th class="text-right">@Model.T_TotalOctubre</th>
                        <th class="text-right">@Model.T_TotalNoviembre</th>
                        <th class="text-right">@Model.T_TotalDiciembre</th>
                        <th class="text-right">@Model.T_TotalGeneral</th>
                    </tr>
                </tbody>
            </table>

            <button type="button" id="btnExcelDownload" class="btn btn-link pl-0">Descargar información en Excel [.xlsx]</button>
        </div>

    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#anio').on('change', function () {
                location.href = '@Url.Action("ResumenAnualObligacionesPorDia", "EstadosCuenta")' + buildFilters($(this).val(), $('#entidadFinanID').val(), $('#ctaDepositoID').val(),
                    $('#condicion').val());
            });

            $('#entidadFinanID').on('change', function () {
                location.href = '@Url.Action("ResumenAnualObligacionesPorDia", "EstadosCuenta")' + buildFilters($('#anio').val(), $(this).val(), $('#ctaDepositoID').val(),
                    $('#condicion').val());
            });

            $('#ctaDepositoID').on('change', function () {
                location.href = '@Url.Action("ResumenAnualObligacionesPorDia", "EstadosCuenta")' + buildFilters($('#anio').val(), $('#entidadFinanID').val(), $(this).val(),
                    $('#condicion').val());
            });

            $('#condicion').on('change', function () {
                location.href = '@Url.Action("ResumenAnualObligacionesPorDia", "EstadosCuenta")' + buildFilters($('#anio').val(), $('#entidadFinanID').val(), $('#ctaDepositoID').val(),
                    $(this).val());
            });

            $('#btnExcelDownload').on('click', function () {
                location.href = '@Url.Action("DescargaResumenAnualObligacionesPorDia", "EstadosCuenta")' + buildFilters($('#anio').val(), $('#entidadFinanID').val(), $('#ctaDepositoID').val(),
                    $('#condicion').val());
            });
        });

        function buildFilters(anio, entidadFinanID, ctaDepositoID, condicion) {
            let filters = '?anio=' + anio + '&entidadFinanID=' + entidadFinanID + '&ctaDepositoID=' + ctaDepositoID + '&condicion=' + condicion;
            return filters;
        }
    </script>
}
