@model WebApp.ViewModels.ReporteResumenAnualPagoObligaciones_X_Dependencias

<div class="container-fluid">
    <div class="col-12">
        <section class="content-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb float-right small d-none d-sm-inline-flex">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="fa fa-home">&nbsp;</i>Inicio</a></li>
                    <li class="breadcrumb-item"><span><i class="fa fa-search">&nbsp;</i>Consulta </span></li>
                    <li class="breadcrumb-item active"><span><i class="fa bi-stack">&nbsp;</i>@ViewBag.Title </span></li>
                </ol>
            </nav>
            <h1 class="">@ViewBag.Title <small></small></h1>
        </section>
    </div>

    <div class="col-12">
        <div class="row mt-5 d-flex justify-content-end">
            <div class="col-xl-3 col-lg-4 col-md-12">
                <div class="form-group row">
                    <label for="anio" class="col-6 col-form-label text-right">Año</label>
                    <div class="col-6">
                        @Html.DropDownList("anio", ViewBag.Anios as SelectList, new { Class = "form-control text-center" })
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-12">
                <div class="form-group row">
                    <label for="tipoEstudio" class="col-6 col-form-label text-right">Tipo estudio</label>
                    <div class="col-6">
                        @Html.DropDownList("tipoEstudio", ViewBag.TipoEstudios as SelectList, new { Class = "form-control text-center" })
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-12">
                <div class="form-group row">
                    <label for="entidadFinanID" class="col-6 col-form-label text-right">Banco</label>
                    <div class="col-6">
                        @Html.DropDownList("entidadFinanID", ViewBag.EntidadesFinancieras as SelectList, "  TODOS", new { Class = "form-control text-center" })
                    </div>
                </div>
            </div>
        </div>

        <p class="h3 text-center mt-5 mb-5 text-uppercase">
            RESUMEN DE INGRESOS DE @Model.tipoEstudio<br />AL AÑO @Model.anio
        </p>

        <div class="table-responsive">
            @if (!String.IsNullOrEmpty(Model.nombreEntidadFinanc))
            {
                <p>Entidad Financiera: <b>@Model.nombreEntidadFinanc</b></p>
            }
            <table class="table table-bordered table-hover table-sm">
                <thead>
                    <tr>
                        <th class="text-center" style="width: 18%">Dependencia</th>
                        <th class="text-center">Enero</th>
                        <th class="text-center">Febrero</th>
                        <th class="text-center">Marzo</th>
                        <th class="text-center">Abril</th>
                        <th class="text-center">Mayo</th>
                        <th class="text-center">Junio</th>
                        <th class="text-center">Julio</th>
                        <th class="text-center">Agosto</th>
                        <th class="text-center">Setiembre</th>
                        <th class="text-center">Octubre</th>
                        <th class="text-center">Noviembre</th>
                        <th class="text-center">Diciembre</th>
                        <th class="text-center">Total (S/.)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.resumen_x_dependencias)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.T_Dependencia)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.T_Enero)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.T_Febrero)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.T_Marzo)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.T_Abril)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.T_Mayo)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.T_Junio)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.T_Julio)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.T_Agosto)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.T_Setiembre)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.T_Octubre)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.T_Noviembre)
                            </td>
                            <td class="text-right">
                                @Html.DisplayFor(modelItem => item.T_Diciembre)
                            </td>
                            <th class="text-right">
                                @Model.T_TotalDependencia(item.C_CodDependencia)
                            </th>
                        </tr>
                    }
                    <tr>
                        <th>Total (S/.)</th>
                        <th class="text-right">@Model.T_TotalEnero</th>
                        <th class="text-right">@Model.T_TotalFebrero</th>
                        <th class="text-right">@Model.T_TotalMarzo</th>
                        <th class="text-right">@Model.T_TotalAbril</th>
                        <th class="text-right">@Model.T_TotalMayo</th>
                        <th class="text-right">@Model.T_TotalJunio</th>
                        <th class="text-right">@Model.T_TotalJulio</th>
                        <th class="text-right">@Model.T_TotalAgosto</th>
                        <th class="text-right">@Model.T_TotalSetiembre</th>
                        <th class="text-right">@Model.T_TotalOctubre</th>
                        <th class="text-right">@Model.T_TotalNoviembre</th>
                        <th class="text-right">@Model.T_TotalDiciembre</th>
                        <th class="text-right">@Model.T_TotalGeneral</th>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#anio').on('change', function () {
                location.href = '@Url.Action("ResumenAnualObligacionesPorDependencias", "EstadosCuenta")' + buildFilters($(this).val(), $('#tipoEstudio').val(), $('#entidadFinanID').val());
            });

            $('#tipoEstudio').on('change', function () {
                location.href = '@Url.Action("ResumenAnualObligacionesPorDependencias", "EstadosCuenta")' + buildFilters($('#anio').val(), $(this).val(), $('#entidadFinanID').val());
            });

            $('#entidadFinanID').on('change', function () {
                location.href = '@Url.Action("ResumenAnualObligacionesPorDependencias", "EstadosCuenta")' + buildFilters($('#anio').val(), $('#tipoEstudio').val(), $(this).val());
            });
        });

        function buildFilters(anio, tipoEstudio, entidadFinanID) {
            let filters = '?anio=' + anio + '?&entidadFinanID=' + entidadFinanID + '&tipoEstudio=' + tipoEstudio;
            return filters;
        }
    </script>
}
