
@model WebApp.ViewModels.RegistrarDevolucionPagoViewModel

@Scripts.Render("~/bundles/jqueryval")

<div class="modal-header bg-dark-gray" style="border-radius: .2rem .2rem 0px 0px">
    <h5 class="modal-title text-center"><i class="fa bi-box-arrow-right">&nbsp;</i> @ViewBag.Title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
@using (Ajax.BeginForm("Save", "Devolucion", new { area = "" }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "div_msg", OnBegin = "Load", OnSuccess = "Submited", OnComplete = "Stop" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="container-fluid mt-3">
            @Html.Hidden("submited", 0)
            @Html.HiddenFor(model => model.DevolucionId)
            <div class="form-group row">
                @Html.LabelFor(model => model.EntidadRecaudadora, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.EntidadRecaudadora, ViewBag.EntidadRecaudadora as SelectList, "[ SELECIONAR ENTIDAD ]", new { @class = "form-control" })
                    <p class="text-danger small">@Html.ValidationMessageFor(model => model.EntidadRecaudadora)</p>
                </div>
            </div>

            @Html.HiddenFor(model => model.PagoReferenciaId)
            <div class="form-group row">
                @Html.LabelFor(model => model.ReferenciaPago, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.ReferenciaPago, new { @class = "form-control text-uppercase" })
                        <div class="input-group-append">
                            <button class="btn btn-outline-info" type="button" id="button-search" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <p class="text-danger small">@Html.ValidationMessageFor(model => model.ReferenciaPago)</p>
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.FecPagoRef, new { @class = "col-md-4 control-label" })
                <div class="col-md-6">
                    <div class="input-group date">
                        @Html.HiddenFor(model => model.FecPagoRef)
                        @Html.TextBox("txtFecPagoRef", Model.FecPagoRef, "{0:dd/MM/yyyy}", new { @class = "form-control", disabled = "disabled" })
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-calendar-o"></i></span>
                        </div>
                    </div>
                    <p class="text-danger small">@Html.ValidationMessageFor(model => model.FecPagoRef)</p>
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.NroSIAF, new { @class = "col-md-4 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.NroSIAF, new { @class = "form-control text-right", @readonly = "readonly" })
                    <p class="text-danger small">@Html.ValidationMessageFor(model => model.NroSIAF)</p>
                </div>
            </div>

            <div class="form-group row">
                @Html.LabelFor(model => model.MontoDevolucion, new { @class = "col-md-4 control-label" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.MontoDevolucion, new { @class = "form-control text-right", @readonly = "readonly" })
                    <p class="text-danger small">@Html.ValidationMessageFor(model => model.MontoDevolucion)</p>
                </div>
                <div class="col-md-4">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="chk-monto">
                        <label class="form-check-label" for="chk-monto">
                            Editar monto
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.FecAprueba, new { @class = "col-md-4 control-label" })
                <div class="col-md-6">
                    <div class="input-group date">
                        @Html.HiddenFor(model => model.FecAprueba, new { @class = "form-control text-uppercase" })
                        @Html.TextBox("txtFecAprueba", Model.FecAprueba, "{0:dd/MM/yyyy}", new { @class = "form-control", required = "required" })
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-calendar-o"></i></span>
                        </div>
                    </div>
                    <p class="text-danger small">@Html.ValidationMessageFor(model => model.FecAprueba)</p>
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.FecDevuelve, new { @class = "col-md-4 control-label" })
                <div class="col-md-6">
                    <div class="input-group date">
                        @Html.HiddenFor(model => model.FecDevuelve, new { @class = "form-control text-uppercase" })
                        @Html.TextBox("txtFecDevuelve", Model.FecDevuelve, "{0:dd/MM/yyyy}", new { @class = "form-control", required = "required" })
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-calendar-o"></i></span>
                        </div>
                    </div>
                    <p class="text-danger small">@Html.ValidationMessageFor(model => model.FecDevuelve)</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer" id="div_msg">
        <div class="col-md-12" style="display:none" id="loading">
            <h6>Actualizando los datos...</h6>

            <div class="progress">
                <div class="indeterminate"></div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" id="btnsubmit"><i class="fa fa-save"></i>&nbsp;Guardar</button>
        <button type="button" class="btn btn-secondary" id="btnCancel" data-dismiss="modal"><i class="fa fa-times-circle-o">&nbsp;</i>Cancelar</button>
    </div>
}



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index:9999">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Buscar pagos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">seleccionar</button>
            </div>
        </div>
    </div>
</div>


<script>
    $('#btnsubmit').removeClass('disabled');

    $("form").submit(function () {
        if (parseInt($("#submited").val()) > 0) {
            return false;
        }
    });

    $('#chk-monto').on('change', function () {

        if ($(this).is(':checked')) {
            $('#MontoDevolucion').prop('readonly', false);
        }
        else {
            $('#MontoDevolucion').prop('readonly', true);
        }
    })

    $('.input-group.date').datepicker({
        todayBtn: 'linked',
        language: 'es',
        format: 'dd/MM/yyyy',
        autoclose: true,
        startDate: '-0d',
        weekStart: 0,
        orientation: 'bottom auto',
        calendarWeeks: true,
    }).on('hide', function (e) {
        e.stopPropagation();
    });
</script>