@model WebApp.ViewModels.ClasificadorRegistrarViewModel

@Scripts.Render("~/bundles/jqueryval")

<div class="modal-header bg-dark-gray" style="border-radius: .2rem .2rem 0px 0px">
    <h5 class="modal-title text-center"><i class="fa fa-list-ol">&nbsp;</i> @ViewBag.Title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
@using (Ajax.BeginForm("Save", "Clasificadores", new { area = "" }, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "div_msg", OnBegin = "Load", OnSuccess = "Submited", OnComplete = "Stop" }))
{
    @Html.Hidden("submited", 0)
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="container-fluid">
            @Html.HiddenFor(model => model.Id)

            <div class="form-group row">
                @Html.LabelFor(model => model.Descripcion, new { @class = "col-md-4" })
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control" })
                    <p class="text-danger small">@Html.ValidationMessageFor(model => model.Descripcion)</p>
                </div>
            </div>
            <div class="row form-group">
                @Html.LabelFor(model => model.CodClasificador, new { @class = "col-md-4" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.CodClasificador, new { @class = "form-control" })
                    <p class="text-danger small">@Html.ValidationMessageFor(model => model.CodClasificador)</p>
                </div>
            </div>
            <div class="row form-group">
                @Html.LabelFor(model => model.AnioEjercicio, new { @class = "col-md-4" })
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.AnioEjercicio, ViewBag.Anios as SelectList, "[ TODOS ]", new { @class = "form-control" })
                    <p class="text-danger small">@Html.ValidationMessageFor(model => model.AnioEjercicio)</p>
                </div>
            </div>
            <div class="row form-group">
                @Html.LabelFor(model => model.CodigoEquivalente, new { @class = "col-md-4" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.CodigoEquivalente, new { @class = "form-control" })
                    <p class="text-danger small">@Html.ValidationMessageFor(model => model.CodigoEquivalente)</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer" id="div_msg">
        <div class="col-md-12" style="display:none" id="loading">
            <h6>Actualizando los datos...</h6>

            <div class="progress">
                <div class="indeterminate"></div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" id="btnsubmit"><i class="fa fa-save"></i>&nbsp;Guardar</button>
        <button type="button" class="btn btn-secondary" id="btnCancel" data-dismiss="modal"><i class="fa fa-times-circle-o">&nbsp;</i>Cancelar</button>
    </div>
}

<script>
    $(document).on('ready', function () {
        $('#btnsubmit').removeClass('disabled');
    });

    $("form").submit(function () {
        if (parseInt($("#submited").val()) > 0) {
            return false;
        }
    });
</script>
