@Scripts.Render("~/bundles/jqueryval")

@{ 
    var obligaciones = (WebApp.Models.CuotaPagoModel)ViewBag.CuotaPago;
}

<div class="modal-header bg-dark-gray" style="border-radius: .2rem .2rem 0px 0px">
    <h5 class="modal-title text-center"><i class="fa bi-layers-half">&nbsp;</i> @ViewBag.Title</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>

<div class="modal-body">
    <dl class="row">
        <dt class="col-sm-3">Alumno</dt>
        <dd class="col-sm-9">@obligaciones.T_NombresCompletos</dd>

        <dt class="col-sm-3">Código</dt>
        <dd class="col-sm-9">@obligaciones.C_CodAlu</dd>

        <dt class="col-sm-3">Periodo</dt>
        <dd class="col-sm-9">@obligaciones.I_Anio - @obligaciones.T_Periodo</dd>

        <dt class="col-sm-3">Cuota</dt>
        <dd class="col-sm-9">@obligaciones.T_ProcesoDesc</dd>

        <dt class="col-sm-3">Monto</dt>
        <dd class="col-sm-9">@obligaciones.T_MontoOblig</dd>

        <dt class="col-sm-3">Vencimiento</dt>
        <dd class="col-sm-9">@obligaciones.T_FecVencto</dd>
    </dl>
</div>

<div class="modal-body">
    <form name="formConsultaPago" id="formConsultaPago">
        @Html.Hidden("Submited", 0)
        @Html.AntiForgeryToken()
        <div class="container-fluid">
            @Html.Hidden("hdn_ObligacionID", (int)ViewBag.I_ObligacionID)

            <div class="form-row">
                <div class="form-group col-md-5">
                    <label class="control-label">Cod. Operación</label>
                    @Html.TextBox("CodOperacion", "", new { @class = "form-control" })
                </div>
                <div class="form-group col-md-5">
                    <label class="control-label">Cod. Alumno</label>
                    @Html.TextBox("CodAlumno", "", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-row">
                <button type="button" class="btn btn-primary" id="btnBuscarPago"><i class="fa fa-search"></i> Buscar</button>
            </div>
        </div>
    </form>
</div>

<div class="modal-body">
    <table class="table table-bordered table-hover table-sm" id="tblPagosObs">
        <thead>
            <tr>
                <th>Banco</th>
                <th>Cta.Depósito</th>
                <th>Cod.Operacion</th>
                <th>Fecha Pago</th>
                <th>Monto</th>
                <th>Mora</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="modal-footer" id="div_msg">
    <div class="col-md-12" style="display:none" id="loading">
        <h6>Actualizando los datos...</h6>

        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>

    <button type="button" class="btn btn-primary" id="btnsubmit"><i class="fa fa-save"></i> Guardar</button>
    <button type="button" class="btn btn-secondary" id="btnCancel" data-dismiss="modal"><i class="fa fa-times-circle-o"></i> Cancelar</button>
</div>

<script type="text/javascript">

    $(document).on('click', '#formConsultaPago #btnBuscarPago', function (e) {
        let codOperacion = $('#formConsultaPago #CodOperacion').val();
        let codAlumno = $('#formConsultaPago #CodAlumno').val();
        let tabla = $('#tblPagosObs tbody');

        let parametros = {
            codOperacion: codOperacion,
            codAlumno: codAlumno
        };

        $.ajax({
            type: 'GET',
            url: ('@Url.Action("GetPagosObservados", "Service", new { httproute = "ActionApi" })'),
            data: parametros,
            dataType: 'json',
            beforeSend: function () {
                tabla.html('');
            },
            success: function (data) {
                let html = '';

                $.each(data, function (i, item) {
                    html = html + '<tr>' +
                        '<td>' + item.T_EntidadDesc + '</td>' +
                        '<td>' + item.C_NumeroCuenta + '</td>' +
                        '<td>' + item.C_CodOperacion + '</td>' +
                        '<td>' + item.T_FecPago + '</td>' +
                        '<td>' + item.I_MontoPago + '</td>' +
                        '<td>' + item.I_InteresMora + '</td>' +
                        '<td>' + '<button class="btn btn-success btn-sm btnAsignarPago" data-id-pago-banco="' + item.I_PagoBancoID + '">check</button>' + '</td>' +
                        '</tr>';
                });

                tabla.html(html);
            },
            error: function (xhr, ajaxOptions, thrownError) {
            }
        });
    });

    $(document).on('click', '#tblPagosObs .btnAsignarPago', function (e) {
        let idPagoBanco = $(this).data('id-pago-banco');
        let idObligacion = $('#formConsultaPago #hdn_ObligacionID').val();
        alert(idObligacion);
    });
</script>
