
<div class="container-fluid">
    <div class="col-12">
        <section class="content-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb float-right small d-none d-sm-inline-flex">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="fa fa-home">&nbsp;</i>Inicio</a></li>
                    <li class="breadcrumb-item"><span><i class="fa fa-search">&nbsp;</i>Consultas </span></li>
                    <li class="breadcrumb-item active"><span><i class="fa fa-tasks">&nbsp;</i>@ViewBag.Title </span></li>
                </ol>
            </nav>
            <h1 class="">@ViewBag.Title <small></small></h1>
        </section>
    </div>
    <br />
    <div class="col-12 mt-4">
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item w-50" role="presentation">
                        <a class="nav-link text-center active" id="grupal-tab" data-toggle="pill" href="#grupal" role="tab" aria-controls="grupal" aria-selected="true">
                            <i class="fa fa-users">&nbsp;</i> Por especialidad
                        </a>
                    </li>
                    <li class="nav-item w-50" role="presentation">
                        <a class="nav-link text-center" id="individial-tab" data-toggle="pill" href="#individial" role="tab" aria-controls="individial" aria-selected="false">
                            <i class="fa fa-fw fa-user">&nbsp;</i> Por alumno
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="grupal" role="tabpanel" aria-labelledby="grupal-tab">
                        <div class="card">
                            <div class="card-body bg-light-gray">
                                <form id="frmGenerarOblig" action="@Url.Action("Generar", "Obligaciones")" method="POST">
                                    <div class="form-row">
                                        <div class="form-group col-lg-1 col-md-2 col-sm-4 col-6">
                                            <label for="cmbAnioGrupal">Año</label>
                                            @Html.DropDownList("cmbAnioGrupal", new SelectList(ViewBag.Anios, "Value", "TextDisplay", DateTime.Now.Year), new { @class = "form-control form-control-sm" })
                                        </div>
                                        <div class="form-group col-lg-1 col-md-2 col-sm-4 col-6">
                                            <label for="cmbPeriodoGrupal">Periodo</label>
                                            @Html.DropDownList("cmbPeriodoGrupal", new SelectList(ViewBag.Periodos, "Value", "TextDisplay", "15"), null, new { @class = "form-control form-control-sm" })
                                        </div>

                                        <div class="form-group col-lg-1 col-md-2 col-sm-4 col-6">
                                            <label for="cmbNivelGrupal">Nivel/Grado</label>
                                            <select id="cmbNivelGrupal" name="cmbNivelGrupal" class="form-control form-control-sm">
                                                <option>Pregrado</option>
                                                <option>Posgrado</option>
                                            </select>
                                        </div>

                                        <div class="form-group col-lg-3 col-md-5 col-sm-12 col-12">
                                            <label for="cmbFacultad">Facultades</label>
                                            @Html.DropDownList("cmbFacultad", new SelectList(ViewBag.Facultades, "Value", "TextDisplay", "15"), null, new { @class = "form-control form-control-sm" })
                                        </div>

                                        <div class="form-group col-lg-2 col-sm-3 col-12">
                                            <button type="submit" class="btn btn-block btn-outline-primary mt-4">
                                                <i class="fa fa-fw fa-engine">&nbsp;</i> Generar obligaciones
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card" id="generarObligMsj" style="margin-top: 5px;">
                            @if (ViewBag.Success != null)
                            {
                                <div class="card-body">
                                    @if (ViewBag.Success != null)
                                    {
                                        if (ViewBag.Success)
                                        {
                                            <p class="alert alert-success">@ViewBag.Message</p>
                                        }
                                        else
                                        {
                                            <p class="alert alert-danger">@ViewBag.Message</p>
                                        }
                                    }
                                </div>
                            }
                        </div>
                    </div>

                    <div class="tab-pane fade" id="individial" role="tabpanel" aria-labelledby="individial-tab">
                        <div class="card">
                            <div class="card-body bg-light-gray">
                                <form>
                                    <div class="form-row">
                                        <div class="form-group col-lg-1 col-md-2 col-6">
                                            <label for="cmbAnioIndividual">Año</label>
                                            @Html.DropDownList("cmbAnioIndividual", new SelectList(ViewBag.Anios, "Value", "TextDisplay", DateTime.Now.Year), new { @class = "form-control form-control-sm" })
                                        </div>
                                        <div class="form-group col-lg-1 col-md-2 col-6 ">
                                            <label for="cmbPeriodoIndividual">Periodo</label>
                                            @Html.DropDownList("cmbPeriodoIndividual", new SelectList(ViewBag.Periodos, "Value", "TextDisplay", "15"), null, new { @class = "form-control form-control-sm" })
                                        </div>
                                        <div class="form-group col-lg-1 col-md-2 col-6">
                                            <label for="txtCodAlumno">Código de alumno</label>
                                            @Html.TextBox("txtCodAlumno", null, new { @class = "form-control form-control-sm" })
                                        </div>
                                        <div class="form-group col-lg-3 col-md-5 col-12">
                                            <label for="cmbEspecialidad">Especialidad</label>
                                            <select id="cmbEspecialidad" name="cmbEspecialidad" class="form-control form-control-sm"></select>
                                        </div>
                                        <div class="form-group col-lg-2 col-md-3 col-12">
                                            <button type="button" id="btnConsultarObligacionAlumno" class="btn btn-block btn-outline-primary mt-4"><i class="fa fa-fw fa-search-plus">&nbsp;</i> Iniciar consulta</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="table-responsive mt-4" style="min-height:300px">
                            <p class="h5">Obligaciones (Conceptos de Pago)</p>

                            <table class="table table-sm table-hover" id="tblDetalleObligaciones">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Concepto</th>
                                        <th>Cuota pago</th>
                                        <th>Monto</th>
                                        <th>Fec. Vencimiento</th>
                                        <th>Tipo</th>
                                        <th>Estado</th>
                                        <th>Nro Recibo</th>
                                        <th>Fecha Pago</th>
                                        <th>Lugar</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="table-responsive mt-4" style="min-height:300px">
                            <p class="h5">Cuotas a pagar en Banco</p>

                            <table class="table table-sm table-hover" id="tblCuotasPago">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Cuota pago</th>
                                        <th></th>
                                        <th>Monto</th>
                                        <th>Fec. Vencimiento</th>
                                        <th>Tipo</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEspera" tabindex="-1" role="dialog" aria-labelledby="lblModalEspera" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lblModalEspera">Mensaje del sistema</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $("#frmGenerarOblig").on("click", "button[type='submit']", function (e) {
            $(this).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Generando obligaciones . . .');
            AbrirModalEsperaGeneracionOblig();
            LimpiarMensajeGenerarOblig();
        });

        $(document).on("click", "#individial-tab", function (e) {
            LimpiarMensajeGenerarOblig();
        });

        function AbrirModalEsperaGeneracionOblig() {
            let modal = $('#modalEspera');

            modal.find(".modal-body").html('<div class="d-flex align-items-center">' +
                '<strong> Generando obligaciones...</strong >' +
                '<div class="spinner-border ml-auto text-primary" role="status" aria-hidden="true"></div>' +
                '</div>');

            modal.modal('show');
        }

        function LimpiarMensajeGenerarOblig() {
            $("#generarObligMsj").html("");
        }

        $(document).on('click', '#btnConsultarObligacionAlumno', function () {
            let cmbAnioIndividual = $('#cmbAnioIndividual').val();
            let cmbPeriodoIndividual = $('#cmbPeriodoIndividual').val();
            let cmbEspecialidad = $('#cmbEspecialidad').val();
            let txtCodAlumno = $('#txtCodAlumno').val();

            if (txtCodAlumno === null || txtCodAlumno.length !== 10) {
                MostrarMensajeGeneracionObligPorAlumno('El campo Código de Alumno es requerido.');
            } else if (cmbEspecialidad === null || cmbEspecialidad.length !== 3) {
                BuscarAlumno(txtCodAlumno);
            } else {
                BuscarObligacion(cmbAnioIndividual, cmbPeriodoIndividual, cmbEspecialidad, txtCodAlumno);
            }
        });

        $(document).on('keypress', '#txtCodAlumno', function (e) {
            if (e.which === 13) {
                e.preventDefault();

                GenerarTablaDetalle([]);
                GenerarTablaCuotas([]);

                let codigoAlu = $('#txtCodAlumno').val();

                if (codigoAlu.length === 10) {
                    BuscarAlumno(codigoAlu);
                } else {
                    llenarComboEspecialidades([]);
                }
            }
        });

        function MostrarMensajeGeneracionObligPorAlumno(msg) {
            let modal = $('#modalEspera');
            modal.find(".modal-body").html('<p class="text-danger">' + msg + '</p>');
            modal.modal('show');
        }

        function BuscarObligacion(anio, periodo, codRc, codigoAlu) {
            let parametros = {
                anio: anio,
                periodo: periodo,
                codRc: codRc,
                codAlu: codigoAlu
            };

            $.ajax({
                type: 'GET',
                url: '@Url.Action("BuscarObligacionesAlumno", "Obligaciones")',
                data: parametros,
                dataType: 'json',
                beforeSend: function () {
                    GenerarTablaDetalle([]);
                    GenerarTablaCuotas([]);
                },
                success: function (data) {
                    if (data) {
                        if (data.detalle_pago.length == 0) {
                            Swal.fire({
                                title: '',
                                text: "El alumno no cuenta con obligaciones generadas para este periodo. ¿Desea generar las obligaciones en este momento?.",
                                icon: 'warning',
                                showCancelButton: true,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Si, continuar.',
                                cancelButtonText: 'No, cancelar.'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    GenerarPorAlumno(anio, periodo, codRc, codigoAlu);
                                }
                            });
                        } else {
                            GenerarTablaDetalle(data.detalle_pago);
                            GenerarTablaCuotas(data.cuotas_pago);
                        }
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    var msg = JSON.parse(xhr.responseText);
                    MostrarMensajeGeneracionObligPorAlumno(msg.Message);
                }
            });
        }

        function GenerarPorAlumno(anio, periodo, codRc, codigoAlu) {
            let parametros = {
                anio: anio,
                periodo: periodo,
                codRc: codRc,
                codAlu: codigoAlu
            };

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GenerarPorAlumno", "Obligaciones")',
                data: parametros,
                dataType: 'json',
                success: function (data) {
                    if (data) {
                        if (data.Value) {
                            BuscarObligacion(anio, periodo, codRc, codigoAlu);
                        } else {
                            MostrarMensajeGeneracionObligPorAlumno("Ha ocurrido un error al generar las obligaciones.");
                        }
                    } else {
                        MostrarMensajeGeneracionObligPorAlumno("Ha ocurrido un error al generar las obligaciones.");
                    }
                }
            });
        }

        function GenerarTablaDetalle(detalle_pago) {
            let tblDetalleObligaciones = $('#tblDetalleObligaciones').find('tbody');
            let rows = '';

            tblDetalleObligaciones.html('');

            $.each(detalle_pago, function (i, item) {
                rows += '<tr>' +
                    '<td>' + item.T_ConceptoDesc + '</td>' +
                    '<td>' + item.I_Anio + '-' + item.C_Periodo + ' ' + item.T_CatPagoDesc + '</td>' +
                    '<td>' + item.T_Monto + '</td>' +
                    '<td>' + item.T_FecVencto + '</td>' + 
                    '<td>' + item.T_TipoObligacion + '</td>' + 
                    '<td>' + item.T_Pagado + '</td>' +
                    '<td>' + item.C_CodOperacion + '</td>' +
                    '<td>' + item.T_FecPago + '</td>' +
                    '<td>' + item.T_LugarPago + '</td>' +
                    '</tr>';
            });

            tblDetalleObligaciones.html(rows);
        }

        function GenerarTablaCuotas(cuotas_pago) {
            let tblCuotasPago = $('#tblCuotasPago').find('tbody');
            let rows = '';

            tblCuotasPago.html('');

            $.each(cuotas_pago, function (i, item) {
                rows += '<tr>' +
                    '<td>' + item.I_Anio + '-' + item.C_Periodo + ' ' + item.T_CatPagoDesc + '</td>' +
                    '<td>' + item.T_NroOrden + '</td>' +
                    '<td>' + item.T_MontoTotal + '</td>' +
                    '<td>' + item.T_FecVencto + '</td>' +
                    '<td>' + item.T_TipoObligacion + '</td>' + 
                    '</tr>';
            });

            tblCuotasPago.html(rows);
        }

        function BuscarAlumno(codigoAlu) {
            let parametros = {
                codAlu: codigoAlu
            };

            $.ajax({
                type: 'GET',
                url: '@Url.Action("Obtener_Especialidades_X_Alumno", "Obligaciones")',
                data: parametros,
                dataType: 'json',
                success: function (data) {
                    if (data) {
                        llenarComboEspecialidades(data);
                    }
                }
            });
        }

        function llenarComboEspecialidades(lista) {
            let cmbEspecialidad = $('#cmbEspecialidad');
            cmbEspecialidad.empty();

            if (lista !== null) {
                
                let html = '';
                let codRc = null;


                $.each(lista, function (i, item) {
                    html += '<option value="' + item.C_RcCod + '">' + item.T_EspDesc + '</option>'

                    if (i === 0) {
                        codRc = item.C_RcCod;
                    }
                });

                cmbEspecialidad.html(html);

                if (codRc !== null) {
                    let cmbAnioIndividual = $('#cmbAnioIndividual').val();
                    let cmbPeriodoIndividual = $('#cmbPeriodoIndividual').val();
                    let cmbEspecialidad = $('#cmbEspecialidad').val();
                    let txtCodAlumno = $('#txtCodAlumno').val();

                    BuscarObligacion(cmbAnioIndividual, cmbPeriodoIndividual, cmbEspecialidad, txtCodAlumno);
                }
            }
        }
    </script>
}
